.stripe-payment-input {
  width: 100%;
}

.form-control.StripeElement--focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control.StripeElement--focus.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25)
}

.signup-sidebar {
  background: hsla(220, 95%, 95%, 1) !important;
}